#CalendarScheduleModal {
    font-family: noto sans kr;
    font-size: 13px;
}
#CalendarScheduleModal .close {
    position: absolute;
    top: 2px;
    right: -20px;
    font-size: 25px;
}
#CalendarScheduleModal .modal-dialog {
    width: 550px;
}
#CalendarScheduleModal .modal-content {
    border-radius: 0;
    padding: 5px 30px 15px;
}
#CalendarScheduleModal .modal-body-title {
    text-align: left;
    border-bottom: 2px solid #494949;
    padding: 8px 3px;
    font-size: 25px;
    letter-spacing: 0.5px;
}
#CalendarScheduleModal .modal-body-title i {
    font-size: 22px;
    padding-right: 10px;
}
#CalendarScheduleModal .modal-body-contents > div {
    display: block;
    width: 100%;
    padding: 2px 0;
    text-align: left;
}
#CalendarScheduleModal .modal-body-contents textarea {
    resize: none;
    width: 100%;
    height: 120px;
    padding: 15px;
    border: 1px solid #ccc;
}
#CalendarScheduleModal .calendar-schedule-confirm {
    padding: 12px;
    margin-top: 10px;
    width: 100%;
    background-color: #494949;
    color: #fff;
    /*color: #494949;*/
    /*border: 1px solid #494949;*/
    cursor: pointer;
}
#CalendarScheduleModal .calendar-schedule-category {
    position: absolute;
    top: 45px;
    right: 50px;
    cursor: pointer;
}
#CalendarScheduleModal .calendar-schedule-category:hover {
    text-decoration: underline;
}
#CalendarScheduleModal .calendar-schedule-category-list {
    display: none;
    position: absolute;
    top: 70px;
    right: 3px;
    background: #f9f9f9;
    padding: 6px 18px 6px 12px;
    box-shadow: 1px 1px 5px rgba(0, 0, 0, .5);
}
#CalendarScheduleModal .calendar-schedule-category-list li {
    text-align: left;
    padding: 2px 0;
    cursor: pointer;
}
#CalendarScheduleModal .calendar-schedule-category div,
#CalendarScheduleModal .calendar-schedule-category-list div {
    width: 11px;
    height: 11px;
    display: inline-block;
    margin: 0 5px;
    border-radius: 50%;
}
#CalendarScheduleModal .modal-body-contents input.calendar-schedule-subject {
    width: 100%;
    height: 42px;
    border: 1px solid #ccc;
    padding: 15px;
}
#CalendarScheduleModal .calendar-schedule-start-date,
#CalendarScheduleModal .calendar-schedule-end-date {
    width: 100px;
}
#CalendarScheduleModal .calendar-schedule-start-time,
#CalendarScheduleModal .calendar-schedule-end-time {
    width: 80px;
}
#CalendarScheduleModal .calendar-schedule-datetime input {
    text-align: center;
    /*background-color: #eee;*/
    border-radius: 5px;
    border: 0;
    height: 30px;
    padding: 5px;
    margin: 0 2px;
    cursor: pointer;
}
#CalendarScheduleModal .calendar-schedule-datetime input:hover {
    background-color: #ccc;
}

#CalendarScheduleModal table.calendar-schedule-datetime {
    width: 100%;
    background-color: #fbfbfb;
    border-bottom: 1px solid #ccc;
}
#CalendarScheduleModal table.calendar-schedule-datetime thead > tr > th {
    background-color: #ffffff;
    color: #464646;
    font-size: 12px;
    font-weight: bold;
    border-bottom: 1px solid #ccc;
    padding: 12px;
    text-align: center;
}
#CalendarScheduleModal table.calendar-schedule-datetime thead > tr > th:first-child,
#CalendarScheduleModal table.calendar-schedule-datetime tbody > tr > td:first-child {
    border-left: 0px;
}
#CalendarScheduleModal table.calendar-schedule-datetime tbody > tr > td {
    font-size: 12px;
    padding: 6px 15px;
    border-bottom: 1px solid #cccccc;
    text-align: center;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
    background-color: #fff;
    width: 230px;
}
#CalendarScheduleModal table.calendar-schedule-datetime thead > tr > th:first-child,
#CalendarScheduleModal table.calendar-schedule-datetime tbody > tr > td:first-child {
    border-left: 0px;
}
#CalendarScheduleModal table.calendar-schedule-datetime tbody > tr:last-child > td {
    border-bottom: 0px;
}
#CalendarScheduleModal table.calendar-schedule-datetime tbody > tr > td:first-child:after {
    content: '~';
    position: absolute;
    left: calc(50% - 20px);
    font-size: 20px;
    padding: 0 14px;
}
#CalendarScheduleModal .calendar-schedule-datetime-everytime-check {
    text-align: right !important;
    margin-bottom: 10px;
}
#CalendarScheduleModal .calendar-schedule-datetime-everytime {
    width: 15px;
    height: 15px;
    margin-top: 3px;
}


#CalendarScheduleViewModal {
    font-family: noto sans kr;
    font-size: 13px;
}
#CalendarScheduleViewModal .close {
    position: absolute;
    top: 2px;
    right: -20px;
    font-size: 20px;
}
#CalendarScheduleViewModal .modal-dialog {
    width: 550px;
    letter-spacing: 0.7px;
}
#CalendarScheduleViewModal .modal-content {
    border-radius: 0;
    padding: 5px 30px 20px;
}
#CalendarScheduleViewModal .modal-body-title {
    text-align: left;
    border-bottom: 2px solid #494949;
    padding: 8px 3px;
    font-size: 25px;
}
#CalendarScheduleViewModal .modal-body-title i {
    font-size: 22px;
    padding-right: 10px;
}
#CalendarScheduleViewModal .modal-body-contents > div {
    text-align: right;
    padding: 10px;
    border-bottom: 1px solid #ccc;
}
#CalendarScheduleViewModal .modal-body-contents > div > div {
    display: inline-block;
    font-size: 13px;
}
#CalendarScheduleViewModal .calendar-schedule-view-category {
    float: left;
}
#CalendarScheduleViewModal .calendar-schedule-view-category .calendar-schedule-view-category-color {
    display: inline-block;
    width: 10px;
    height: 10px;
    border-radius: 50%;
    margin-right: 5px;
    vertical-align: super;
}
#CalendarScheduleViewModal .calendar-schedule-view-category .calendar-schedule-view-category-name {
    display: inline-block;
    max-width: 150px;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}
#CalendarScheduleViewModal .calendar-schedule-view-start-datetime,
#CalendarScheduleViewModal .calendar-schedule-view-end-datetime {
    font-size: 12px !important;
    letter-spacing: 1px;
}
#CalendarScheduleViewModal .calendar-schedule-view-end-datetime:before {
    content: '~';
    position: relative;
    padding: 0 10px
}
#CalendarScheduleViewModal .calendar-schedule-view-end-datetime:empty:before {
    content: '';
    padding: 0;
}

#CalendarScheduleViewModal .calendar-schedule-view-content {
    text-align: left;
    min-height: 80px;
    width: 100%;
    white-space: pre;
}
#CalendarScheduleViewModal .modal-body-option {
    position: relative;
    text-align: right;
    padding: 5px 0;
}
#CalendarScheduleViewModal .modal-body-option > div {
    display: inline-block;
    padding: 5px 0 0 10px;
    color: #888;
    cursor: pointer;
}
#CalendarScheduleViewModal .modal-body-option > div:hover {
    color: #2196f3;
    text-decoration: underline;
}

/* holiday */
/*.fc-content-skeleton .holiday > span {*/
    /*display: none;*/
/*}*/
.fc-content-skeleton .holiday > span {
    display: block;
}
.qv-calendar .fc-basic-view .fc-content-skeleton .holiday > a,
.qv-calendar .fc-basic-view .fc-content-skeleton .holiday > span {
    color : #FF5722 !important
}
.fc-content-skeleton .holiday > span {
    position: absolute;
    top: 3px;
    padding: 5px 10px;
    font-size: 13px;
}

/* custom design */
.qv-calendar .fc-head-container.fc-widget-header,
.qv-calendar .fc-head-container.fc-widget-header .fc-day-header {
    border: 0;
}
.qv-calendar .fc-head-container.fc-widget-header .fc-day-header {
    text-align: right;
    padding: 8px;
    font-size: 0.875rem;
    text-transform: uppercase;
    font-weight: 400;
}
.qv-calendar .fc-basic-view .fc-day-number,
.qv-calendar .fc-basic-view .fc-week-number {
    color: #000 !important;
    padding: 5px 7px;
    margin: 3px;
}
/* month,week,day button */
.qv-calendar .fc-button-group {
    margin: 0 5px !important;
}
.qv-calendar .fc-month-button,
.qv-calendar .fc-agendaWeek-button,
.qv-calendar .fc-agendaDay-button {
    padding: 5px 10px;
    /* margin: 0 1px !important; */
    min-width: 65px;
    background: #fff;
    box-shadow: none;
    text-shadow: none;
    border: 1px solid #ddd;
    outline: 0;
    height: 36px;
    text-transform: uppercase;

    /* 2019.10.15 */
    font-size: 13px;
}
.qv-calendar button.fc-state-active {
    background: #f1f2f3;
    color: #333;
}
.qv-calendar .fc-state-default {
    background: #fff;
    color: #333;
}
.qv-calendar .fc-state-default:hover {
    background: #f1f2f3;
}
/* prev, next button */
.qv-calendar .fc-prev-button,
.qv-calendar .fc-next-button {
    box-shadow: none;
    text-shadow: none;
    color: #333;
    background: #fff;
    border: 1px solid #ddd;
    padding: 8px 20px;
    outline: 0;
    height: 36px;
    display: flex;
}
.qv-calendar .fc-icon-right-single-arrow:after {
    font-weight: 100;
}
.qv-calendar .fc-today-button {
    display: none;
}
/* center */
.qv-calendar .fc-center > h2 {
    font-size: 26px;
    padding: 2px;
}
.qv-calendar .fc-widget-content.fc-today {
    background: #fff;
    position: relative;
}
.qv-calendar .fc-day-top.fc-today > a {
    background: #2196F3;
    color: #fff !important;
    border-radius: 50%;
    width: 17px;
    height: 17px;
    padding: 5px;
    text-align: center;

    /* 2019.10.15 추가 */
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 13px;
}
.qv-calendar table,
.qv-calendar td.fc-day {
    background: transparent !important;
}
.qv-calendar .fc-resizer.fc-end-resizer {
    display: none !important;
}
.qv-calendar .fc-day-grid-event .fc-content {
    letter-spacing: 0.4px;
    padding: 0 8px;
}
.qv-calendar .fc-category-color {
    width: 3px;
    height: 100%;
    display: block;
    position: absolute;
    left: 0;
}
.qv-calendar .fc-day-grid-event .fc-time {
    font-weight: 400;
}
.qv-calendar .fc-day-grid-event.fc-event-day .fc-time {
    position: absolute;
    right: 0;
    padding-left: 5px;
    color: #888;
    background: transparent;
}
/* 주, 일의 시간이 중복으로 나오는 부분 수정 */
.qv-calendar .fc-time-grid-event.fc-short .fc-time:before {
    content: '';
}

/* 일/주/월 탭이 없으면 일자 클릭 되지않도록 수정 */
.qv-calendar[data-show-tab="false"] .fc-day-number {
    pointer-events: none;
}

@media (max-width: 767px) {
    .qv-calendar .fc-center > h2 {
        font-size: 20px;
    }
    .qv-calendar .fc-toolbar.fc-header-toolbar {
        height: 65px;
        position: relative;
    }
    .qv-calendar .fc-toolbar .fc-left {
        position: absolute;
        bottom: 0;
        right: 0;
        width: 100%;
        height: 26px;
        z-index: 2;
    }
    .qv-calendar .fc-state-default:hover {
        background: transparent;
    }
    .qv-calendar .fc-prev-button,
    .qv-calendar .fc-next-button {
        padding: 5px 15px;
        height: 30px;
        border: 0;
        font-size: 20px;
        background: transparent;
    }
    .qv-calendar .fc-prev-button {
        position: absolute;
        left: 0;
    }
    .qv-calendar .fc-next-button {
        position: absolute;
        right: 0;
    }
    .fc-toolbar .fc-center {
        position: absolute;
        bottom: 0;
        left: 0;
        width: 100%;
    }
    .qv-calendar .fc-center > h2 {
        width: 100%;
        text-align: center;
    }
    .qv-calendar .fc-month-button,
    .qv-calendar .fc-agendaWeek-button,
    .qv-calendar .fc-agendaDay-button {
        padding: 5px;
        height: 30px;
    }
    .qv-calendar .fc-button-group {
        margin: 0 !important;
    }

    /*.calendar-show-weekend .fc-content-skeleton .holiday > span {*/
        /*padding: 5px;*/
        /*overflow: hidden;*/
        /*max-width: 30px;*/
        /*white-space: nowrap;*/
        /*text-overflow: ellipsis;*/
        /*font-size: 8px;*/
        /*top: 8px;*/
    /*}*/
    .qv-calendar .fc-day-grid-event.fc-event-day .fc-time,
    .calendar-show-weekend .fc-content-skeleton .holiday > span {
        display: none;
    }

    #CalendarScheduleModal .modal-content,
    #CalendarScheduleViewModal .modal-content {
        padding: 5px 0 15px;
    }
    #CalendarScheduleModal .modal-body-title i,
    #CalendarScheduleViewModal .modal-body-title i {
        font-size: 18px;
    }
    #CalendarScheduleModal .modal-body-title,
    #CalendarScheduleViewModal .modal-body-title {
        font-size: 20px;
    }
    #CalendarScheduleModal .modal-body > .close,
    #CalendarScheduleViewModal .modal-body > .close {
        right: 10px;
    }
    #CalendarScheduleModal .calendar-schedule-category {
        top: 40px;
        right: 15px;
    }
    #CalendarScheduleModal .calendar-schedule-datetime input {
        display: block;
        margin: auto;
    }
    #CalendarScheduleModal table.calendar-schedule-datetime tbody > tr > td:first-child:after {
        display: none;
    }
}