/* LOGIN */
.login-modal {
    z-index: 1060;
    font-family: Sans-Serif;
    color: #000;
}
.login-modal .modal-dialog,
.login-container,
.join-modal .modal-dialog,
.find-password-modal .modal-dialog,
.change-password-modal .modal-dialog {
    width: 400px;
}
.login-modal .modal-content,
.join-modal .modal-content,
.find-password-modal .modal-content,
.change-password-modal  .modal-content {
    border-radius: 0px !important;
}
.login-modal .modal-header,
.login-modal .modal-footer,
.join-modal .modal-header,
.join-modal .modal-footer,
.find-password-modal .modal-header,
.find-password-modal .modal-footer,
.change-password-modal .modal-header,
.change-password-modal .modal-footer {
    border: 0px;
    font-size: 25px;
}
.login-modal .modal-header-title-sub {
    font-size: 14px;
    font-weight: 400;
    margin-top: 5px;
}
.login-modal .modal-body,
.join-modal .modal-body,
.find-password-modal .modal-body,
.change-password-modal .modal-body {
    padding-top: 0;
}
.login-modal .login-form,
.login-container .login-form,
.find-password-modal .find-password-form,
.change-password-modal .change-password-form {
    outline: 1px solid #ccc;
    margin: 5px 0;
}
.login-modal .login-form > input,
.login-container .login-form > input,
.find-password-modal .find-password-form > input,
.change-password-modal .change-password-form > input {
    width :100%;
    border: 0px;
    padding: 10px;
    outline: 0px !important;
    margin-top: 1px;
}
.login-modal .login-form > input.login-form-id,
.login-container .login-form > input.login-form-id,
.change-password-modal .change-password-form > input.change-pw1 {
    border-bottom: 1px solid #ccc;
}
.login-modal .login-confirm,
.login-container .login-confirm,
.find-password-modal .find-password-confirm,
.change-password-modal .change-password-confirm {
    width:100%;
    margin-top: 10px;
    padding: 10px;
    text-align: center;
    border: 1px solid #2196f3;
    background-color: #2196f3;
    font-size: 14px;
    cursor: pointer;
    color: #fff;
    font-family: noto sans kr;
    font-weight: bold;
    letter-spacing: 1px;
}

.login-options {
    position: relative;
    height: 30px;
    padding: 10px 0;
}
.login-options > div {
    position: absolute;
    display: inline-block;
    text-decoration: underline;
    cursor: pointer;
    font-size: 12px;
}
.login-options .login-options-join {
    left: 0;
}
.login-options .login-options-find {
    right: 0
}

.login-modal .login-divider,
.login-container .login-divider {
    position: relative;
    background: url(/img/d/lin/line_x_gray.png) center center repeat-x;
    height: 40px;
    width: 100%;
    margin: 0 auto;
}

.login-modal .login-divider:after,
.login-container .login-divider:after {
    content: 'or';
    position: absolute;
    bottom: 12px;
    background-color: #fff;
    z-index: 2;
    padding: 0 15px;
    left: calc(50% - 23px);
    font-weight: bold;
    font-family: noto sans kr;
    font-size: 13px;
}

.login-modal .sns-login-form > div,
.login-container .sns-login-form > div {
    padding: 3px 0;
    cursor: pointer;
}
.login-modal .sns-login-form > div > div > i,
.login-container .sns-login-form > div > div > i {
    font-size: 6px;
}

.sns-login-form > div > div {
    display: none;
    position: relative;
    border-radius: 3px;
    border: 1px solid #f1f1f1;
    font-family: noto sans kr;
    font-weight: bold;
    font-size: 13px;
    letter-spacing: 1px;
}
.login-modal #naver-login-button,
.login-container #naver-login-button {
    background-color: #1ec800;
    border: 1px solid #1ec800;
    color: #ffffff;
    padding: 10px;
}
.login-modal #naver-login-button > img {
    position: absolute;
    top: 8px;
    left: 10px;
    height: 23px;
}
.login-modal #kakao-login-button,
.login-container #kakao-login-button {
    background-color: #fbe601;
    border: 1px solid #fbe601;
    color: #3c1d1e;
    padding: 10px;
}
.login-modal #kakao-login-button > img {
    position: absolute;
    top: 7px;
    left: 10px;
    height: 25px;
}
.login-modal #google-login-button,
.login-container #google-login-button {
    background-color: #ec5043;
    border: 1px solid #ec5043;
    color: #ffffff;
    padding: 10px;
}
.login-modal #google-login-button > img {
    position: absolute;
    top: 3px;
    left: 10px;
    height: 34px;
}


#FindPasswordModal {
    color: #000;
    font-family: Sans-Serif;
}
#FindPasswordModal.proceeding .modal-dialog:after {
    content: '';
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    width: 100%;
    height: 100%;
    background: rgba(73, 73, 73, 0.5);
}
.find-password-description {
    font-size: 13px;
    padding: 5px;
}
.find-password-error {
    color: #f44336;
    font-size: 12px;
    text-align: right;
    margin-bottom: 10px;
}


#find-password-recaptcha > div {
    margin: 20px auto 0;
}
.recaptcha-error-message {
    text-align: center;
    font-size: 12px;
    color: #F44336;
}

.change-password-warning {
    position: relative;
    color: red;
    text-align: right;
    font-size: 12px;
    margin-bottom: 10px;
}
.change-password-notice {
    font-size: 13px;
    padding: 5px;
}
.change-password-notice p {
    display: inline-block;
}
.change-password-advisor {
    font-size: 16px;
    display: inline-block;
    vertical-align: top;
}

@media (max-width: 767px) {
    .modal-dialog {
        width: 95% !important;
    }

    .login-header,
    .login-container,
    .login-footer {
        width: 100%;
        min-width: 0;
        min-height: 150px;
        padding: 5px;
    }
    .login-content,
    .login-form {
        width: 100% !important;
    }
}

/* JOIN */
.join-header,
.join-container,
.join-footer {
    position: relative;
    width: 768px;
    min-width: 460px;
    min-height: 80px;
    margin: 0 auto;
    font-family: Sans-Serif;
    color: #000;
}

.join-container input,
.join-container select,
.join-container textarea {
    outline: 0px !important;
}

.join-title {
    text-align: center;
    margin-bottom: 25px;
    padding-top: 25px;
    font-size: 30px;
    width: 500px;
    height: 145px;
    color: #fff;
    background-color: #2196f3;
}
.join-title i {
    font-size: 30px;
    margin-bottom: 15px;
}
.join-terms,
.join-form {
    width: 500px;
    margin: 0 auto;
}

.join-type-group1,
.join-type-group2 {
    position: relative;
    padding: 25px 0 20px;
    text-align: center;
    border-top: 1px solid #eee;
    font-family: noto sans kr;
    font-weight: bold;
    letter-spacing: 1.2px;
    font-size: 13px;
}
.join-type-group2 {
    border: 0;
}
.join-type-group1 > div,
.join-type-group2 > div {
    position: relative;
    padding: 10px;
    margin-bottom: 7px;
    cursor: pointer;
    border-radius: 3px;
    border: 1px solid #f1f1f1;
}
.join-type-group1 > div.join-type-naver {
    background: #1ec800;
    color: #fff;
}
.join-type-group1 > div.join-type-naver > img {
    position: absolute;
    top: 8px;
    left: 10px;
    height: 23px;
}
.join-type-group1 > div.join-type-kakao {
    background: #fbe601;
    color: #232323;
}
.join-type-group1 > div.join-type-kakao > img {
    position: absolute;
    top: 7px;
    left: 10px;
    height: 25px;
}
.join-type-group1 > div.join-type-google {
    background: #ec5043;
    color: #fff;
}
.join-type-group1 > div.join-type-google > img {
    position: absolute;
    top: 3px;
    left: 10px;
    height: 34px;
}
.join-type-group2 > div {
    /*background: #2196f3;*/
    /*color: #fff;*/
    background: #fff;
    color: #494949;
    border: 1px solid #ccc;
}
.join-type-group2:after {
    content: 'or';
    position: absolute;
    bottom: -8px;
    background-color: #fff;
    z-index: 2;
    padding: 0 15px;
    left: calc(50% - 23px);
}

.join-form-group1,
.join-form-group2,
.join-form-group3,
.join-form-group-confirm,
.join-form-group-custom {
    border: 1px solid #ccc;
    margin: 10px 0;
}

.join-form-group1 > div,
.join-form-group2 > div,
.join-form-group3 > div,
.join-form-group-confirm > div,
.join-form-group-custom > div {
    position: relative;
    padding: 10px;
    border-bottom: 1px solid #ccc;
}

.join-form-group1 > div:last-child,
.join-form-group2 > div:last-child,
.join-form-group3 > div:last-child,
.join-form-group-confirm > div:last-child,
.join-form-group-custom > div:last-child {
    border-bottom: 0px;
}
.join-form-group1 > div > input,
.join-form-group2 > div > input,
.join-form-group3 > div > input,
.join-form-group-confirm > div > input,
.join-form-group-custom > div > input {
    width: 100%;
    padding: 5px;
    border: 0px;
}
.join-form-group-confirm {
    border: none !important;
}
/*.join-form-group1 > div > input {
    width: 300px !important;
}*/
.join-form-group4 > div {
    padding: 10px 0px;
    border-top: 1px dashed #f1f1f1;
}


.join-form-birth {
    padding: 0px !important;
}
.join-form-birth input {
    border: 0px;
    padding: 5px;
    width: 100%;
}
.join-form-birth .join-required-warning,
.join-form-birth .join-validation-warning {
    padding: 0 10px 10px 10px;
}
.join-form-birth-y {
    display: inline-block;
    width: 40%;
    padding: 10px;
    border-right: 1px solid #ccc;
}
.join-form-birth-m {
    display: inline-block;
    width: 30%;
    padding: 10px;
    border-right: 1px solid #ccc;
}
.join-form-birth-d {
    display: inline-block;
    width: 30%;
    padding: 10px;
}

.join-form-zipcode {
    position: relative;
}
.join-form-zipcode-search {
    position: absolute;
    top: 0;
    right: 0px;
    padding: 15px 20px;
    background-color: #354052;
    color: #ffffff;
    height: 100%;
    font-size: 13px;
    vertical-align: middle;
    cursor: pointer;
    display: table-cell;
}
.join-form-zipcode-search > div {
    display: table-cell;
    vertical-align: middle;
}
.join-form-zipcode > input {
    width: 70% !important;
}
.join-form-address1 > input {
    width: 100% !important;
}
.join-form-address2 > input {
    width: 100% !important;
}

.join-form-group-custom textarea {
    resize: none;
    width: 100%;
    min-height: 100px;
    border: 0px;
}
.join-form-group-custom .join-form-checkbox,
.join-form-group-custom .join-form-radio {
    display: block;
    margin-top: 0 !important;
    margin-left: 0 !important;
}
.join-form-group-custom .join-form-dropdown {
    border: 0px;
    width: 100%;
}


.join-container h4.required:after {
    content: '*';
    right: -5px;
    color: #d20000;
    position: relative;
    vertical-align: middle;
    font-size: 20px;
    line-height: 11px!important;
    font-family: sans-serif;
}

.join-form-confirm {
    padding-top: 15px !important;
    padding-bottom: 15px !important;
    background-color: #2196f3;
    color: #ffffff;
    text-align: center;
    cursor: pointer;
    font-size: 18px;
}

.join-required-warning,
.join-validation-warning {
    position: relative;
    color: red;
    text-align: right;
    font-size: 12px;
}


.join-terms-group {
    border: 1px solid #ccc;
    border-bottom: 0px;
}
/*.join-terms-group:last-child {
    border-bottom: 1px solid #ccc;
}*/
.join-terms-group > label {
    position: relative;
    padding: 10px;
    display: block;
    margin-top: 0 !important;
    margin-left: 0 !important;
}
.join-terms-group input.join-terms-check {
    right: 10px;
    width: 20px;
    height: 20px;
}
.join-terms-content {
    padding: 5px 10px 10px 10px;
}
.join-terms-content > textarea {
    width: 100%;
    min-height: 200px;
    border: 1px solid #ccc;
    resize: none;
    background-color: #f9f9f9;
    font-size: 12px;
}
span.terms-necessary {
    font-weight: normal;
    font-size: 13px;
    color: #f44336;
}
span.terms-choice {
    font-weight: normal;
    font-size: 13px;
    color: #9e9e9e;
}
.join-terms-group-confirm {
    border-top: 1px solid #ccc;
    padding-top: 15px;
}
.join-terms-group-confirm > div {
    display: inline-block;
    width: calc(50% - 5px);
    padding: 15px 20px;
    text-align: center;
    border: 1px solid #2196f3;
    margin: 5px;
    font-size: 18px;
    cursor: pointer;
    color: #2196f3;
}
.join-terms-group-confirm .join-terms-disagree {
    margin-left: 0px;
}
.join-terms-group-confirm .join-terms-agree {
    background-color: #2196f3;
    color: #ffffff;
    margin-right: 0px;
}

.password-notice {
    font-size: 13px;
    padding: 0 5px;
}
.password-notice p {
    display: inline-block;
}
.password-advisor {
    font-size: 16px;
    display: inline-block;
    vertical-align: top;
}

.join-form-group-captcha {
    padding: 10px 0;
}
#join-recaptcha > div {
    margin: 0 auto;
}
.recaptcha-error-message {
    text-align: center;
    font-size: 12px;
    color: #F44336;
}

.join-close {
    position: fixed;;
    top: 20px;
    left: 20px;
    width: 33px;
    height: 33px;
    cursor: pointer;
}
.join-close:before,
.join-close:after {
    position: absolute;
    top: 0;
    left: 15px;
    content: ' ';
    height: 33px;
    width: 2px;
    background-color: #333;
    transition: 0.25s ease-out all;
}
.join-close:before {
    transform: rotate(-45deg);
}
.join-close:after {
    transform: rotate(45deg);
}


@media (max-width: 767px) {
    .join-header,
    .join-container,
    .join-footer {
        width: 100%;
        min-width: 0;
        min-height: 0;
    }
    .join-title,
    .join-terms,
    .join-form {
        width: 100% !important;
        padding-bottom: 50px;
    }
}


/* MYPAGE */
.mypage-header,
.mypage-container,
.mypage-footer {
    position: relative;
    width: 768px;
    min-width: 460px;
    min-height: 150px;
    margin: 0 auto;
    font-family: Sans-Serif;
    color: #000;
}

.mypage-container input,
.mypage-container select,
.mypage-container textarea {
    outline: 0px !important;
}

.mypage-title {
    text-align: center;
    margin-bottom: 20px;
    padding-top: 25px;
    font-size: 30px;
    width: 500px;
    height: 145px;
    color: #fff;
    background-color: #2196f3;
}
.mypage-title i {
    font-size: 30px;
    margin-bottom: 15px;
}

.mypage-form {
    width: 500px !important;
    margin: 0 auto !important;
}

.mypage-form-group1,
.mypage-form-group2,
.mypage-form-group3,
    /*.mypage-form-group-confirm,*/
.mypage-form-group-custom,
.mypage-terms-group {
    border: 1px solid #ccc;
    margin: 10px 0;
}

.mypage-form-group1 > div,
.mypage-form-group2 > div,
.mypage-form-group3 > div,
.mypage-form-group-confirm > div,
.mypage-form-group-custom > div {
    position: relative;
    padding: 10px;
    border-bottom: 1px solid #ccc;
}

.mypage-form-group1 > div:last-child,
.mypage-form-group2 > div:last-child,
.mypage-form-group3 > div:last-child,
.mypage-form-group-confirm > div:last-child,
.mypage-form-group-custom > div:last-child {
    border-bottom: 0px;
}
.mypage-form-group1 > div > input,
.mypage-form-group2 > div > input,
.mypage-form-group3 > div > input,
.mypage-form-group-confirm > div > input,
.mypage-form-group-custom > div > input {
    width: 100%;
    padding: 5px;
    border: 0px;
}
.mypage-form-group4 > div {
    padding: 10px 0px;
    border-top: 1px solid #f1f1f1;
}


.mypage-form-id {
    background-color: #f1f1f1;
}
.mypage-form-id > input {
    background: transparent;
}
.mypage-form-birth {
    padding: 0px !important;
}
.mypage-form-birth input {
    border: 0px;
    padding: 5px;
    width: 100%;
}
.mypage-form-birth .mypage-required-warning,
.mypage-form-birth .mypage-validation-warning {
    padding: 0 10px 10px 10px;
}
.mypage-form-birth-y {
    display: inline-block;
    width: 40%;
    padding: 10px;
    border-right: 1px solid #ccc;
}
.mypage-form-birth-m {
    display: inline-block;
    width: 30%;
    padding: 10px;
    border-right: 1px solid #ccc;
}
.mypage-form-birth-d {
    display: inline-block;
    width: 30%;
    padding: 10px;
}

.mypage-form-zipcode {
    position: relative;
}
.mypage-form-zipcode-search {
    position: absolute;
    top: 0;
    right: 0px;
    padding: 10px 20px;
    background-color: #354052;
    color: #ffffff;
    height: 100%;
    font-size: 13px;
    vertical-align: middle;
    cursor: pointer;
    display: flex;
    justify-content: center;
    flex-direction: column;
}
.mypage-form-zipcode-search > div {
    display: table-cell;
    vertical-align: middle;
}
.mypage-form-zipcode > input {
    width: 70% !important;
}
.mypage-form-address1 > input {
    width: 100% !important;
}
.mypage-form-address2 > input {
    width: 100% !important;
}

.mypage-form-group-custom textarea {
    resize: none;
    width: 100%;
    min-height: 100px;
    border: 0px;
}
.mypage-form-group-custom .mypage-form-checkbox,
.mypage-form-group-custom .mypage-form-radio {
    display: block;
    margin-top: 0 !important;
    margin-left: 0 !important;
}
.mypage-form-group-custom .mypage-form-dropdown {
    border: 0px;
    width: 100%;
}


.mypage-container h4.required:after {
    content: '*';
    right: -5px;
    color: #d20000;
    position: relative;
    vertical-align: middle;
    font-size: 20px;
    line-height: 11px!important;
    font-family: sans-serif;
}

.mypage-form-confirm {
    padding-top: 15px !important;
    padding-bottom: 15px !important;
    background-color: #2196f3;
    color: #ffffff;
    text-align: center;
    cursor: pointer;
}
.mypage-form-withdraw {
    text-align: right;
    text-decoration: underline;
    cursor: pointer;
}

.mypage-required-warning,
.mypage-validation-warning {
    position: relative;
    color: red;
    text-align: right;
    font-size: 12px;
}

.mypage-terms-group > label {
    position: relative;
    padding: 10px;
    display: block;
    margin-top: 0 !important;
    margin-left: 0 !important;
}
.mypage-terms-group input.mypage-terms-check {
    right: 10px;
    width: 20px;
    height: 20px;
}
.mypage-terms-content {
    padding: 5px 10px 10px 10px;
}
.mypage-terms-content > textarea {
    width: 100%;
    min-height: 200px;
    border: 1px solid #ccc;
    resize: none;
    background-color: #f9f9f9;
    font-size: 12px;
}

.mypage-terms-group-confirm > div {
    display: inline-block;
    width: calc(50% - 5px);
    padding: 15px 20px;
    text-align: center;
    border: 1px solid #2196f3;
    margin: 5px;
    font-size: 18px;
    cursor: pointer;
    color: #2196f3;
}
.mypage-terms-group-confirm .mypage-terms-disagree {
    margin-left: 0px;
}
.mypage-terms-group-confirm .mypage-terms-agree {
    background-color: #2196f3;
    color: #ffffff;
    margin-right: 0px;
}

.password-notice {
    font-size: 13px;
    padding: 0 5px;
}
.password-notice p {
    display: inline-block;
}
.password-advisor {
    font-size: 16px;
    display: inline-block;
    vertical-align: top;
}


.mypage-terms-group input.mypage-terms-check {
    right: 10px;
    width: 20px;
    height: 20px;
}
.mypage-terms-group > label {
    border-bottom: 1px solid #ccc;
}
.mypage-terms-group > label:last-child {
    border-bottom: 0;
}

.mypage-close {
    position: fixed;
    top: 20px;
    left: 20px;
    width: 33px;
    height: 33px;
    cursor: pointer;
}
.mypage-close:before,
.mypage-close:after {
    position: absolute;
    top: 0;
    left: 15px;
    content: ' ';
    height: 33px;
    width: 2px;
    background-color: #333;
    transition: 0.25s ease-out all;
}
.mypage-close:before {
    transform: rotate(-45deg);
}
.mypage-close:after {
    transform: rotate(45deg);
}

@media (max-width: 767px) {
    .mypage-header,
    .mypage-container,
    .mypage-footer {
        width: 100%;
        min-width: 0;
        min-height: 0;
    }
    .mypage-title,
    .mypage-form {
        width: 100% !important;
    }
}