.slider-form,.slider-form * {
	-webkit-box-sizing:border-box;
	-moz-box-sizing:border-box;
	box-sizing:border-box
}
.slider-form {
	font-family:"Roboto",Arial,Helvetica,sans-serif;
	line-height:1.231;
	font-weight:400;
	font-size:14px;
	color:#626262
}

.slider-form .gui-input,.slider-form .gui-textarea,.slider-form .select>select,.slider-form input[type="button"],.slider-form input[type="submit"],.slider-form input[type="search"],.slider-form .select-multiple select {
	-webkit-tap-highlight-color:transparent;
	-webkit-tap-highlight-color:rgba(0,0,0,0);
	-webkit-appearance:none;
	-moz-appearance:none;
	appearance:none;
	-webkit-border-radius:0;
	border-radius:0
}
.slider-form input[type="search"]::-webkit-search-decoration,.slider-form input[type="search"]::-webkit-search-cancel-button,.slider-form input[type="search"]::-webkit-search-results-button,.slider-form input[type="search"]::-webkit-search-results-decoration {
	display:none
}

.slider-form .radio,.slider-form .button,.slider-form .tooltip,.slider-form .checkbox,.slider-form .gui-input,.slider-form .notification,.slider-form .gui-textarea,.slider-form .select>select,.slider-form .select-multiple select {
	-webkit-transition:all .5s ease-in-out;
	-moz-transition:all .5s ease-in-out;
	-ms-transition:all .5s ease-in-out;
	-o-transition:all .5s ease-in-out;
	transition:all .5s ease-in-out;
	-webkit-border-radius:0;
	-moz-border-radius:0;
	-ms-border-radius:0;
	-o-border-radius:0;
	border-radius:0;
	outline:none
}
.slider-form .select,.slider-form .gui-input,.slider-form .gui-textarea,.slider-form .select>select,.slider-form .select-multiple select {
	background:#fff;
	position:relative;
	vertical-align:top;
	border:1px solid #CFCFCF;
	display:-moz-inline-stack;
	display:inline-block;
	/*display:inline;*/
	color:#626262;
	outline:none;
	height:32px;
	width:60px;
	/*zoom:1*/
}
.slider-form .gui-input,.slider-form .gui-textarea {
	padding:10px
}
.slider-form .gui-input:hover,.slider-form .gui-textarea:hover,.slider-form .select>select:hover,.slider-form .select-multiple select:hover,.slider-form .gui-input:hover ~ .input-hint,.slider-form .file .gui-file:hover+.gui-input,.slider-form .gui-textarea:hover ~ .input-hint {
	border-color:#6BC868
}
.slider-form .gui-input:focus,.slider-form .gui-textarea:focus,.slider-form .select>select:focus,.slider-form .select-multiple select:focus {
	color:#3c3c3c;
	background:#fff;
	border:1px solid #4EBD4A;
	-webkit-box-shadow:0 0 3px #4EBD4A inset;
	-moz-box-shadow:0 0 3px #4EBD4A inset;
	-o-box-shadow:0 0 3px #4EBD4A inset;
	box-shadow:0 0 3px #4EBD4A inset;
	outline:none
}


.slider-form .state-error .gui-input,.slider-form .state-error .gui-textarea,.slider-form .state-error.select>select,.slider-form .state-error.select-multiple>select,.slider-form .state-error input:hover+.checkbox,.slider-form .state-error input:hover+.radio,.slider-form .state-error input:focus+.checkbox,.slider-form .state-error input:focus+.radio,.slider-form .state-error .checkbox,.slider-form .state-error .radio {
	background:#FEE9EA;
	border-color:#DE888A
}
.slider-form .state-error .gui-input:focus,.slider-form .state-error .gui-textarea:focus,.slider-form .state-error.select>select:focus,.slider-form .state-error.select-multiple>select:focus {
	-webkit-box-shadow:0 0 3px #DE888A inset;
	-moz-box-shadow:0 0 3px #DE888A inset;
	-o-box-shadow:0 0 3px #DE888A inset;
	box-shadow:0 0 3px #DE888A inset
}
.slider-form .state-error .gui-input ~ .field-icon i,.slider-form .state-error .gui-textarea ~ .field-icon i {
	color:#DE888A
}
.slider-form .state-error .gui-input ~ .input-hint,.slider-form .state-error.file .gui-file:hover+.gui-input,.slider-form .state-error .gui-textarea ~ .input-hint {
	border-color:#DE888A
}
.slider-form .gui-input[disabled],.slider-form .gui-textarea[disabled],.slider-form .select>select[disabled],.slider-form .select-multiple select[disabled],.slider-form .gui-input[disabled] ~ .input-hint,.slider-form .file .gui-file[disabled]+.gui-input,.slider-form .file .gui-file[disabled]:hover+.gui-input,.slider-form .gui-textarea[disabled] ~ .input-hint {
	background-color:#f4f6f6;
	border-color:#d5dbdb!important;
	cursor:default;
	color:#d5dbdb;
	opacity:.7
}


.slider-form .slider-wrapper,.slider-form .sliderv-wrapper {
	background:#E5E5E5;
	position:relative
}
.slider-form .ui-slider {
	position:relative;
	text-align:left
}
.slider-form .ui-slider .ui-slider-handle {
	position:absolute;
	z-index:2;
	width:1.5em;
	height:1.5em;
	cursor:pointer;
	background:#fff;
	border:3px solid #4ebd4a;
	-webkit-border-radius:20px;
	-moz-border-radius:20px;
	-o-border-radius:20px;
	border-radius:20px;
	-ms-touch-action:none;
	touch-action:none;
	margin-top:-3px;
	outline:none
}
.slider-form .ui-slider .ui-slider-handle:before {
	content:'';
	width:7px;
	height:7px;
	position:absolute;
	background-color:#4ebd4a;
	-webkit-border-radius:10px;
	-moz-border-radius:10px;
	-o-border-radius:10px;
	border-radius:10px;
	z-index:2;
	left:4px;
	top:4px
}
.slider-form .ui-slider .ui-slider-range {
	position:absolute;
	z-index:1;
	font-size:.7em;
	display:block;
	border:0;
	background-position:0 0;
	background-color:#4ebd4a
}
.slider-form .ui-slider.ui-state-disabled .ui-slider-handle,.slider-form .ui-slider.ui-state-disabled .ui-slider-range {
	filter:inherit
}
.slider-form .ui-slider-horizontal {
	height:.5em
}
.slider-form .ui-slider-horizontal .ui-slider-handle {
	top:-.3em;
	margin-left:-.6em
}
.slider-form .ui-slider-horizontal .ui-slider-range {
	top:0;
	height:100%
}
.slider-form .ui-slider-horizontal .ui-slider-range-min {
	left:0
}
.slider-form .ui-slider-horizontal .ui-slider-range-max {
	right:0
}
.slider-form .ui-slider-vertical,.slider-form .sliderv-wrapper {
	width:.5em;
	height:100px
}
.slider-form .ui-slider-vertical .ui-slider-handle {
	left:-.45em;
	margin-left:0;
	margin-bottom:-.6em
}
.slider-form .ui-slider-vertical .ui-slider-range {
	left:0;
	width:100%
}
.slider-form .ui-slider-vertical .ui-slider-range-min {
	bottom:0
}
.slider-form .ui-slider-vertical .ui-slider-range-max {
	top:0
}
.slider-form .slider-input {
	color:#f6931f!important;
	border:0;
	background:none
}
.slider-form .slider-group .sliderv-wrapper {
	height:150px;
	float:left;
	margin:15px
}
.slider-form .ui-slider .ui-state-active {
	cursor:-webkit-grabbing;
	cursor:-moz-grabbing;
	cursor:grabbing
}


.slider-form .yellow-slider .ui-slider .ui-slider-handle {
	border-color:#faa226
}
.slider-form .yellow-slider .ui-slider .ui-slider-handle:before,.slider-form .yellow-slider .ui-slider .ui-slider-range {
	background-color:#faa226
}
.slider-form .red-slider .ui-slider .ui-slider-handle {
	border-color:#ee4f3d
}
.slider-form .red-slider .ui-slider .ui-slider-handle:before,.slider-form .red-slider .ui-slider .ui-slider-range {
	background-color:#ee4f3d
}
.slider-form .purple-slider .ui-slider .ui-slider-handle {
	border-color:#9464e2
}
.slider-form .purple-slider .ui-slider .ui-slider-handle:before,.slider-form .purple-slider .ui-slider .ui-slider-range {
	background-color:#9464e2
}
.slider-form .blue-slider .ui-slider .ui-slider-handle {
	border-color:#00acee
}
.slider-form .blue-slider .ui-slider .ui-slider-handle:before,.slider-form .blue-slider .ui-slider .ui-slider-range {
	background-color:#00acee
}
.slider-form .black-slider .ui-slider .ui-slider-handle {
	border-color:#505558
}
.slider-form .black-slider .ui-slider .ui-slider-handle:before,.slider-form .black-slider .ui-slider .ui-slider-range {
	background-color:#505558
}
.slider-form .green-slider .ui-slider .ui-slider-handle {
	border-color:#0E993C
}
.slider-form .green-slider .ui-slider .ui-slider-handle:before,.slider-form .green-slider .ui-slider .ui-slider-range {
	background-color:#0E993C
}

.slider-form .progress-section {
	display:none
}
.slider-form .progress-bar {
	position:relative;
	background:#E5E5E5
}
.slider-form .progress-bar .percent {
	position:absolute;
	display:inline-block;
	top:-3px;
	right:-24px;
	font-size:9px;
	color:#93A2AA
}
.slider-form .progress-bar>.bar {
	width:60%;
	height:7px;
	display:block;
	background-size:16px 16px;
	background-color:#bdc3c7
}
.slider-form .bar-primary>.bar {
	background-color:#4ebd4a
}
.slider-form .bar-blue>.bar {
	background-color:#00acee
}
.slider-form .bar-black>.bar {
	background-color:#505558
}
.slider-form .bar-green>.bar {
	background-color:#0E993C
}
.slider-form .bar-purple>.bar {
	background-color:#9464e2
}
.slider-form .bar-red>.bar {
	background-color:#ee4f3d
}
.slider-form .bar-yellow>.bar {
	background-color:#faa226
}
.slider-form .ui-slider .ui-slider-range,.slider-form .progress>button[type="submit"],.slider-form .progress>button[type="submit"]:hover,.slider-form .progress-bar>.bar {
	background-size:16px 16px;
	background-image:-webkit-linear-gradient(top left,transparent,transparent 25%,rgba(255,255,255,0.3) 25%,rgba(255,255,255,0.3) 50%,transparent 50%,transparent 75%,rgba(255,255,255,0.3) 75%,rgba(255,255,255,0.3));
	background-image:-moz-linear-gradient(top left,transparent,transparent 25%,rgba(255,255,255,0.3) 25%,rgba(255,255,255,0.3) 50%,transparent 50%,transparent 75%,rgba(255,255,255,0.3) 75%,rgba(255,255,255,0.3));
	background-image:-o-linear-gradient(top left,transparent,transparent 25%,rgba(255,255,255,0.3) 25%,rgba(255,255,255,0.3) 50%,transparent 50%,transparent 75%,rgba(255,255,255,0.3) 75%,rgba(255,255,255,0.3));
	background-image:linear-gradient(to bottom right,transparent,transparent 25%,rgba(255,255,255,0.3) 25%,rgba(255,255,255,0.3) 50%,transparent 50%,transparent 75%,rgba(255,255,255,0.3) 75%,rgba(255,255,255,0.3))
}