/*table contents 1*/
.table-contents-1 {
    display: inline-block;
    width: 100%;
}
.table-contents-1 .table-title {
    text-align: left;
}
.table-contents-1 .table-fill {
    background: white;
    border-radius: 3px;
    border-collapse: collapse;
    margin: auto;
    padding: 5px;
    width: 100%;
    /*box-shadow: 0 5px 10px rgba(0, 0, 0, 0.1);*/
    animation: float 5s infinite;
    table-layout: fixed;
}
.table-contents-1 .table-fill th {
    color:#D5DDE5;
    background:#20394a;
    border-right: 1px solid #122a3a;
    font-size:23px;
    font-weight: 100;
    padding: 7px 12px;
    text-align:left;
    vertical-align:middle;
}
.table-contents-1 .table-fill th:first-child {
    border-top-left-radius:3px;
}
.table-contents-1 .table-fill th:last-child {
    border-top-right-radius:3px;
    border-right:none;
}
.table-contents-1 .table-fill tr {
    border-top: 1px solid #C1C3D1;
    border-bottom: 1px solid #C1C3D1;
    color:#666B85;
    font-size:16px;
    font-weight:normal;
}
/*.table-contents-1 .table-fill tr:hover td {*/
/*background:#4E5066;*/
/*color:#FFFFFF;*/
/*border-top: 1px solid #22262e;*/
/*}*/
.table-contents-1 .table-fill tr:first-child {
    /*border-top:none;*/
}
.table-contents-1 .table-fill tr:last-child {
    /*border-bottom:none;*/
}
.table-contents-1 .table-fill tr:nth-child(odd) td {
    background:#EBEBEB;
}
/*.table-contents-1 .table-fill tr:nth-child(odd):hover td {*/
/*background:#4E5066;*/
/*}*/
.table-contents-1 .table-fill tr:last-child td:first-child {
    border-bottom-left-radius:3px;
}
.table-contents-1 .table-fill tr:last-child td:last-child {
    border-bottom-right-radius:3px;
}
.table-contents-1 .table-fill td {
    background:#FFFFFF;
    padding:5px 10px;
    text-align:left;
    vertical-align:middle;
    font-weight:300;
    font-size:18px;
    border-right: 1px solid #C1C3D1;
}
.table-contents-1 .table-fill td:last-child {
    border-right: 0px;
}
.table-contents-1 .table-fill th.text-left {
    text-align: left;
}

/*table contents 2*/
.table-contents-2 {
    display: inline-block;
    width: 100%;
}
.table-contents-2 .table-title {
    text-align: center;
}
.table-contents-2 .table-fill {
    width: 100%;
    table-layout: fixed;
    border-collapse:unset !important;
    border-spacing:2px;
}
.table-contents-2 .table-fill th {
    color: #ffffff;
    background: #2e73ea;
    font-weight: bolder;
    padding: 7px 12px;
    text-align: left;
    vertical-align: middle;
}
.table-contents-2 .table-fill th:first-child {
}
.table-contents-2 .table-fill th:last-child {
    border-right:none;
}
.table-contents-2 .table-fill tr {
    color:#000000;
    font-size:16px;
    font-weight:normal;
}
/*.table-contents-2 .table-fill tr:hover td {*/
/*background:#4E5066;*/
/*color:#FFFFFF;*/
/*border-top: 1px solid #22262e;*/
/*}*/
.table-contents-2 .table-fill tr:first-child {
    /*border-top:none;*/
}
.table-contents-2 .table-fill tr:last-child {
    /*border-bottom:none;*/
}
.table-contents-2 .table-fill tr:last-child td:first-child {
}
.table-contents-2 .table-fill tr:last-child td:last-child {
}
.table-contents-2 .table-fill td {
    background: #FFFFFF;
    padding: 5px 10px;
    text-align: left;
    vertical-align: middle;
    font-weight: 300;
    font-size: 16px;
    border-bottom: 1px dashed #2e73ea;
}
.table-contents-2 .table-fill td:last-child {
    border-right: 0px;
}
.table-contents-2 .table-fill th.text-left {
    text-align: left;
}

/*table contents 3*/
.table-contents-3 {
    display: inline-block;
    width: 100%;
}
.table-contents-3 .table-title {
    text-align: center;
}
.table-contents-3 .table-fill {
    width: 100%;
    table-layout: fixed;
    border-collapse:unset !important;
    border-spacing:2px;
}
.table-contents-3 .table-fill th {
    color: #ffffff;
    background: #7d7dc5;
    padding: 7px 12px;
    text-align: left;
    font-size: 12px;
    font-family: Roboto, sans-serif;
    font: inherit;
}
.table-contents-3 .table-fill tr {
    background: #FFF;
    color:#000;
    font-size:16px;
    font-weight:normal;
}
.table-contents-3 .table-fill td {
    padding: 5px 10px;
    text-align: left;
    vertical-align: middle;
    font-weight: 300;
    font-size: 12px;
    color: #000;
    border: solid 1px #7d7dc5;
}
.table-contents-3 .table-fill th.text-left {
    text-align: left;
}

/*table contents 4*/
.table-contents-4 {
    display: inline-block;
    width: 100%;
}
.table-contents-4 .table-title {
    text-align: center;
}
.table-contents-4 .table-fill {
    width: 100%;
    table-layout: fixed;
    border-collapse: collapse;
}
.table-contents-4 .table-fill th {
    color: #343a45;
    background: transparent;
    border-bottom: 3px solid #d73240;
    font-weight: bolder;
    padding: 7px 12px;
    text-align: left;
    vertical-align: middle;
}
.table-contents-4 .table-fill tr {
    color:#000000;
    font-size:16px;
    font-weight:normal;
}
.table-contents-4 .table-fill td {
    background: #fff;
    color: #000;
    padding: 5px 10px;
    text-align: left;
    vertical-align: middle;
    font-weight: 300;
    font-size: 16px;
    border-bottom: 1px solid #d73240;
}
.table-contents-4 .table-fill th.text-left {
    text-align: left;
}

/*table contents 5*/
.table-contents-5 {
    display: inline-block;
    width: 100%;
}
.table-contents-5 .table-title {
    text-align: center;
}
.table-contents-5 .table-fill {
    width: 100%;
    table-layout: fixed;
    border-collapse: collapse;
}
.table-contents-5 .table-fill th {
    color: #3f75da;
    background: transparent;
    border-top: 2px solid  #3f75da;
    border-bottom: 1px solid #3f75da;
    font-weight: bolder;
    padding: 7px 12px;
    text-align: left;
    vertical-align: middle;
}
.table-contents-5 .table-fill th:last-child {
    border-right:none;
}
.table-contents-5 .table-fill tr {
    color:#225dcb;
    font-size:16px;
    font-weight:normal;
}
.table-contents-5 .table-fill td {
    color: #333;
    padding: 5px 10px;
    text-align: left;
    vertical-align: middle;
    font-weight: 300;
    font-size: 16px;
    border-right: 1px solid #CCC;
    border-bottom: 1px solid #CCC;
}
.table-contents-5 .table-fill td:last-child {
    border-right: 0px;
}
.table-contents-5 .table-fill th.text-left {
    text-align: left;
}

/*table contents 6*/
.table-contents-6 {
    display: inline-block;
    width: 100%;
}
.table-contents-6 .table-title {
    text-align: center;
}
.table-contents-6 .table-fill {
    width: 100%;
    table-layout: fixed;
    border-collapse:unset !important;
    border-spacing:2px;
}

.table-contents-6 .table-fill th {
    color: #ffffff;
    background: rgb(62, 207, 192);
    padding: 7px 12px;
    text-align: left;
    font-size: 12px;
    font-family: Roboto, sans-serif;
    font: inherit;
}
.table-contents-6 .table-fill tr {
    background: rgb(247, 247, 247);
    color:rgb(115, 115, 115);
    font-size:16px;
    font-weight:normal;
}
.table-contents-6 .table-fill tr:nth-child(odd) td {
    background:#eaeaea;
}
.table-contents-6 .table-fill td {
    padding: 5px 10px;
    text-align: left;
    vertical-align: middle;
    font-weight: 300;
    font-size: 12px;
    color: rgb(115, 115, 115);
    border-bottom: solid 1px rgba(255,255,255,0.1);
}
.table-contents-6 .table-fill th.text-left {
    text-align: left;
}

/*table contents 7*/
.table-contents-7 {
    display: inline-block;
    width: 100%;
}
.table-contents-7 .table-title {
    text-align: center;
}
.table-contents-7 .table-fill {
    width: 100%;
    table-layout: fixed;
    border-collapse: collapse;
    border:2px solid #5b6b85;
}
.table-contents-7 .table-fill th {
    color: #FFF;
    background: #5b6b85;
    font-weight: bolder;
    padding: 7px 12px;
    text-align: left;
    vertical-align: middle;
}
.table-contents-7 .table-fill th:last-child {
    border-right:none;
}
.table-contents-7 .table-fill tr {
    color:#225dcb;
    font-size:16px;
    font-weight:normal;
}
.table-contents-7 .table-fill tr:last-child td:last-child {
    /*border-bottom:none;*/
}

.table-contents-7 .table-fill td {
    color: #333;
    padding: 5px 10px;
    text-align: left;
    vertical-align: middle;
    font-weight: 300;
    font-size: 16px;
    border-right: 1px solid #CCC;
    border-bottom: 1px solid #CCC;
}
.table-contents-7 .table-fill td:last-child {
    border-right: 0px;
}
.table-contents-7 .table-fill th.text-left {
    text-align: left;
}

/*table contents 8*/
.table-contents-8 {
    display: inline-block;
    width: 100%;
}
.table-contents-8 .table-title {
    text-align: center;
}
.table-contents-8 .table-fill {
    width: 100%;
    border-collapse: collapse;
    table-layout: fixed;
}
.table-contents-8 .table-fill th {
    color: #ffffff;
    background: #60b1f0;
    border:1px solid #5a9dd2;
    padding: 7px 12px;
    text-align: left;
    font-size: 12px;
    font-family: Roboto, sans-serif;
    font: inherit;
}
.table-contents-8 .table-fill tr {
    border-top: 1px solid #e7e8ec;
    background: #FFF;
    color:rgb(115, 115, 115);
    font-size:16px;
    font-weight:normal;
}
.table-contents-8 .table-fill tr:nth-child(odd) td {
    background:#f0f3f8;
}
.table-contents-8 .table-fill td {
    padding: 5px 10px;
    text-align: left;
    vertical-align: middle;
    font-weight: 300;
    font-size: 12px;
    color: rgb(115, 115, 115);
    border: solid 1px #e7e8ec;
}
.table-contents-8 .table-fill th.text-left {
    text-align: left;
}
/*table contents 9*/
.table-contents-9 {
    display: inline-block;
    width: 100%;
}
.table-contents-9 .table-title {
    text-align: center;
}
.table-contents-9 .table-fill {
    width: 100%;
    border-collapse: collapse;
    table-layout: fixed;
}
.table-contents-9 .table-fill th {
    color: #000;
    background: #fff;
    border:1px solid #dddddd;
    padding: 7px 12px;
    text-align: left;
    font-size: 12px;
}
.table-contents-9 .table-fill td {
    padding: 7px 12px;
    text-align: left;
    vertical-align: middle;
    font-weight: 300;
    font-size: 12px;
    color: #000;
    border: solid 1px #dddddd;
}
.table-contents-9 .table-fill th.text-left {
    text-align: left;
}

@media (max-width: 767px) {
    .table-area .table-fill th,
    .table-area .table-fill td {
        padding-left: 5px;
        padding-right: 5px;
    }
}

.table-title br {
    display: none;
}